*{
    padding: 0;
    margin: 0;
}
.a{
    background-color:beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}
ul li a{
    text-decoration: none;
    
    
}
li{
    list-style: none;
    padding-right: 30px;
    
}
ul{
    display: flex;
    
    
}
li:hover{
    text-decoration: underline;
}
.c{
    position: relative;
    display: inline-block;
}
.d{
    position: absolute;
    display: none;
    background-color: azure;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px ;
    cursor: grab;
    padding: 15px;
    transform: translateX(20px);


    
    
}
.c:hover .d{
    display: block;
}
.one{
    background-color: gainsboro;
    width: 100;
    height: 550px;
}
.t{
    background-color: beige;
    width: 100;
    height: 100px;
}
.page{
    display: none;
}
.page:target{
    display: block;
}
